@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-bold.ttf");
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-SemiBold.ttf");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Medium.ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Regular.ttf");
    font-weight: 400;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;

}
.container-form{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}
.side-img{
    height: 100%;
}
.form-information{
    width: 100%;
    margin: 8vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;

}

.container-logo-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    width: 50%;
    display: none;
}
.form-information h2{
    font-size: 18px;
}
.form-information p{
    font-size: 14px;
}
.animation{
    width: 259px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-information .btn:hover {
    cursor: pointer;
    color: black;
    
}
.form-information .btn.active {
    border-bottom: 3px solid #24e5c1;
    color: black;
}
.form-information .btn{
    background-color: white;
    border: none;
    color: grey;
    font-size: 18px;
    margin-bottom: 14px;
}
label p{
    margin-bottom: 5px;
}
label input{
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    padding: 20px;
    border: 2px solid #E9E9E9;
    border-radius: 8px;
}
.container-btn-continue{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-continue{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    background-color: #24e5c1;
    border: none;
    border-radius: 8px;
}

#form-inputs-register{
    display: none;
}

#form-inputs-sesion{
    display: block;
}

@media (max-width: 450px){
    .side-img{
        display: none;
    }
    .logo-img{
        display: block;
    }
}